<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Workout Wager</title>
	<meta name='viewport' content='width=device-width, initial-scale=1' />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular-route.js"></script>
	<!-- AngularFire Library -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
	<script type="text/javascript" src="js/ww.js"></script>

	<style>
		@media screen and (-webkit-min-device-pixel-ratio:0) { 
       		select:focus, textarea:focus, input:focus {
   			font-size: 16px;
       		background:#eee;
        	}
       	}
		.checkedIn{
			border-left:10px solid green;
		}

		.list-group-item{
			margin-bottom: 1px;
		
		}

		.full-width{
			width: 100%;
		}

		body{
			margin-bottom:50px;
		}

		.home{
			margin-top: 3px;
    		border-right: solid 1px grey;
		}
	</style>
</head>
<body ng-app="myApp">
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="col-xs-6 text-center home">		
	        <a href="#Checkin"><span class="glyphicon glyphicon-home btn-lg"></span></a>	  	
  	</div>
	<div class="col-xs-6 text-center">		
	        <a href="#Wager"><span class="glyphicon glyphicon-list btn-lg"></span></a>	  	
  	</div>
  	</nav>
	<div ng-view></div>

	<!-- Temporary Templates until webserver is up -->
	<script type="text/ng-template" id="checkin.html">
		<div class="panel panel-default">
		    <div class="panel-heading text-center">Have You Worked Out Today?</div>
		    <div class="panel-body">
		      <div class="input-group">
		        <span class="input-group-addon">Code</span>
		        <input type="tel" class="form-control" name="input" ng-model="code" minLength="4" maxLength="4" pattern='[0-9]*' placeholder="####">		    		      
		      </div>
		      <div>&nbsp</div>
		      <div class="input-group">
		        <span class="input-group-addon">Message</span>
		        <input type="text" class="form-control" ng-model="checkinMessage" placeholder="optional"></input>		        
		      </div> 
		      <div>&nbsp</div>
		      <button type="button" ng-click="checkin()" class="btn btn-primary full-width">
		        <span class="glyphicon glyphicon-check"></span> Check In!
		      </button>
		      <div>&nbsp</div>
		      <button class="btn btn-default full-width" data-toggle="modal" data-target="#myModal">
	  				Results
			  </button>
		      <div>&nbsp</div>
		      <button type="button" ng-click="adjustDice()" class="btn btn-default full-width disabled hidden">
		        <span class="glyphicon glyphicon-refresh"></span> Adjust Dice
		      </button>
		      <div>&nbsp</div>
		      <button type="button" ng-click="findWinner()" class="btn btn-default full-width disabled hidden">
		        <span class="glyphicon glyphicon-list-alt"></span> Find Winner
		      </button>		      
		      <ul id="results" class="list-group"></ul> 
		    </div>
		  </div> 				
	</script>
	
	<script type="text/ng-template" id="wager.html">
		<ul class="list-group">
		    <li class="list-group-item" ng-repeat="player in players | orderObjectBy:'name'" ng-show="player.selectedDice"ng-class="{checkedIn : player.checkedInDay == currentDay}" ng-click="showDetails = ! showDetails"> 
		        <h4><a href="">{{player.name}}</a>
		        	<span class="glyphicon pull-right" ng-class="{'glyphicon-ok' : player.checkedInDay == currentDay, 'glyphicon-remove' : player.checkedInDay != currentDay}"></span>
		        </h4>
		        	<ul class="list-group" ng-show="showDetails">
		        		<li class="list-group-item" ng-repeat="checkin in player.checkins | orderObjectBy:'time':true ">
		        			<div>{{checkin.time | date:'medium'}}</div>
		        			<div ng-show="checkin.message">{{checkin.message}}</div>
		        		</li>
		        	</ul>		         
		    </li>
		</ul>
	</script>
	

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Results for 7/7 - 7/13</h4>
	      </div>
	      <div class="modal-body">
	      	<!-- Temporary Hardcode -->
	        <ul class="list-group">
        		<li class="list-group-item">Chris selects a d8</li>
        		<li class="list-group-item">Rosand selects a d6</li>
        		<li class="list-group-item">Amir selects a d6</li>
        		<li class="list-group-item">Francis selects a d6</li>
        		<li class="list-group-item">Isaac selects a d8</li>
        		<li class="list-group-item">Roger selects a d8</li>
        		<li class="list-group-item">Alvin selects a d6</li>
        		<li class="list-group-item">Maddie selects a d6</li>
        		<li class="list-group-item">Matt selects a d8</li>
        		<li class="list-group-item">Chris rolls a 7</li>
        		<li class="list-group-item">Rosand rolls a 5</li>
        		<li class="list-group-item">Amir rolls a 6</li>
        		<li class="list-group-item">Francis rolls a 4</li>
        		<li class="list-group-item">Isaac rolls a 2</li>
        		<li class="list-group-item">Roger rolls a 3</li>
        		<li class="list-group-item">Alvin rolls a 3</li>
        		<li class="list-group-item">Maddie rolls a 6</li>
        		<li class="list-group-item">Matt rolls a 1</li>
        		<li class="list-group-item bg-success">Chris is the winner! Paid out by Matt</li>

        	</ul>	    
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!--
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container">
    	<div class="col-xs-6">
			<button id="" type="button" class="btn btn-default">
		        <span class="glyphicon glyphicon-check"></span> Check In!
		  	</button>		  	
      	</div>
      	<div class="col-xs-6">
			
		        <span class="glyphicon glyphicon-check center-block"></span>
		  	
      	</div>
  	</div>-->
</nav>
</body>
</html>