<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Workout Wager</title>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no, minimal-ui' />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ww.css" rel="stylesheet">
    <script src="js/lib/jquery-1.11.1.min.js"></script>
    <script src="js/lib/bootstrap.3.2.0.min.js"></script>
    <!-- Firebase -->
	<script src="js/lib/firebase.1.0.17.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular-route.js"></script>
	<!-- AngularFire Library -->
	<script src="js/lib/angularfire.0.7.1.min.js"></script>
	<script src="js/lib/underscore-min.1.6.0.js"></script>
	<script type='text/javascript' src='js/lib/firebase-simple-login.1.6.1.min.js'></script>
	<script type="text/javascript" src="js/ww.js"></script>
</head>
<body ng-app="myApp">
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="col-xs-6 text-center home">		
	        <a href="#Checkin"><span class="glyphicon glyphicon-check btn-lg"></span></a>	  	
  	</div>
	<div class="col-xs-6 text-center">		
	        <a href="#Wager"><span class="glyphicon glyphicon-list btn-lg"></span></a>	  	
  	</div>
  	</nav>
	<div ng-view></div>

	<!-- Temporary Templates until webserver is up -->
	<script type="text/ng-template" id='login.html'>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon">Email</span>
					<input type="email" class="form-control" ng-model='email' placeholder='login@email.com'>
				</div>
				<div>&nbsp</div>
				<div class="input-group">
					<span class="input-group-addon">Password</span>
					<input type="password" class="form-control" ng-model='password'>
				</div>
				<div>&nbsp</div>
				<button type="button" ng-click="login()" class="btn btn-primary full-width">
		        	<span class=""></span>Login
		      	</button>
		      	<div>&nbsp</div>
				<button type="button" ng-click="logout()" class="btn btn-primary full-width">
		        	<span class=""></span>Logout
		      	</button>
			</div>
		</div>
	</script>		

	<script type="text/ng-template" id="checkin.html">
		<div class="panel panel-default">
		    <div class="panel-heading text-center">Have You Worked Out Today?</div>
		    <div class="panel-body">
		      <div class="input-group">
		        <span class="input-group-addon">Code</span>
		        <input type="tel" class="form-control" name="input" ng-model="code" minLength="4" maxLength="4" pattern='[0-9]*' placeholder="####">		    		      
		      </div>
		      <div>&nbsp</div>
		      <div class="input-group">
		        <span class="input-group-addon">Message</span>
		        <input type="text" class="form-control" ng-model="checkinMessage" placeholder="optional"></input>		        
		      </div> 
		      <div>&nbsp</div>
		      <button type="button" ng-click="checkin()" class="btn btn-primary full-width">
		        <span class="glyphicon glyphicon-check"></span> Check In!
		      </button>
		      <div>&nbsp</div>
		      <button class="btn btn-default full-width" data-toggle="modal" data-target="#myModal">
	  				Results
			  </button>
		      <div>&nbsp</div>
		      <button type="button" ng-click="adjustDice()" class="btn btn-default full-width disabled hidden">
		        <span class="glyphicon glyphicon-refresh"></span> Adjust Dice
		      </button>
		      <div>&nbsp</div>
		      <button type="button" ng-click="findWinner()" class="btn btn-default full-width disabled hidden">
		        <span class="glyphicon glyphicon-list-alt"></span> Find Winner
		      </button>		      
	  		  <div class="text-center"><span class="label label-danger">Attention!</span> Click on the top to get out of full screen mode</div>
		       
		    </div>
		  </div> 
	</script>
	
	<script type="text/ng-template" id="wager.html">
		<h3 class="text-center">{{fullDay|date:'fullDate'}}</h3>
		<ul class="list-group">
		    <li class="list-group-item" ng-repeat="player in players | orderObjectBy:'name'" ng-show="player.selectedDice"ng-class="{checkedIn : player.checkedInDay == currentDay}" ng-click="showDetails = ! showDetails"> 
		        <h4><a href="">{{player.name}}</a>
		        	<span class="glyphicon pull-right" ng-class="{'glyphicon-ok' : player.checkedInDay == currentDay, 'glyphicon-remove' : player.checkedInDay != currentDay}"></span>
		        </h4>
		        <div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="{{getPercentage(player)}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( getPercentage(player) + '%' ) }">				  		
				  </div>
				  <span class="checkinValue text-center">{{getCheckinCount(player)}} / 3</span>
				</div>
	        	<ul class="list-group" ng-show="showDetails">
	        		<li class="list-group-item" ng-repeat="checkin in player.checkins | orderObjectBy:'time':true ">
	        			<div>{{checkin.time | date:'fullDate'}}</div>
	        			<div>{{checkin.time | date:'mediumTime'}}</div>
	        			<div ng-show="checkin.message"><strong>{{checkin.message}}</strong></div>
	        		</li>
	        	</ul>		         
		    </li>
		</ul>
	</script>
	

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel">Results for 7/28 - 8/3</h4>
	      </div>
	      <div class="modal-body">
	      	<!-- Temporary Hardcode -->
	        <ul class="list-group">
        		<li class="list-group-item">Amir rolls a 3 out of 6</li>
        		<li class="list-group-item">Alvin rolls a 1 out of 6</li>
        		<li class="list-group-item">Chris rolls a 3 out of 7</li>
        		<li class="list-group-item">Cindy rolls a 2 out of 7</li>
        		<li class="list-group-item">Francis rolls a 2 out of 3</li>
        		<li class="list-group-item">Henry rolls a 2 out of 5</li>
        		<li class="list-group-item">Issac rolls a 5 out of 5</li>
        		<li class="list-group-item">Matt rolls a 1 out of 7</li>
        		<li class="list-group-item">Roger rolls a 1 out of 8</li>       		
        		<li class="list-group-item">Rosand rolls a 6 out of 6</li>
        		<li class="list-group-item"><strong>Alvin vs Matt vs Roger for loss tiebreaker</strong></li>
        		<li class="list-group-item">Alvin rolls a 30 out of 100</li>
        		<li class="list-group-item">Matt rolls a 99 out of 100</li>
        		<li class="list-group-item">Roger rolls a 63 out of 100</li>
        		<li class="list-group-item bg-success"><strong>Rosand is the winner! Paid out by Alvin</strong></li>
        	</ul>	    
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!--
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="container">
    	<div class="col-xs-6">
			<button id="" type="button" class="btn btn-default">
		        <span class="glyphicon glyphicon-check"></span> Check In!
		  	</button>		  	
      	</div>
      	<div class="col-xs-6">
			
		        <span class="glyphicon glyphicon-check center-block"></span>
		  	
      	</div>
  	</div>-->
</nav>
</body>
</html>