<ul class="list-group">
    <li class="list-group-item" ng-repeat="player in players | orderObjectBy:'name'" ng-show="player.selectedDice"ng-class="{checkedIn : player.checkedInDay == currentDay}" ng-click="showDetails = ! showDetails"> 
        <h4><a href="">{{player.name}}</a>
        	<span class="glyphicon pull-right" ng-class="{'glyphicon-ok' : player.checkedInDay == currentDay, 'glyphicon-remove' : player.checkedInDay != currentDay}"></span>
        </h4>
        	<ul class="list-group" ng-show="showDetails">
        		<li class="list-group-item" ng-repeat="checkin in player.checkins | orderObjectBy:'time':true ">
        			<div>{{checkin.time | date:'medium'}}</div>
        			<div ng-show="checkin.message">{{checkin.message}}</div>
        		</li>
        	</ul>		         
    </li>
</ul>